.row
  .col-sm-12
    .form-group(ng-class="{ 'has-error': vm.hasFieldError(form.emailAddress) }")
      label Email
      input.form-control(
        type="email"
        name="emailAddress"
        ng-model="emailAddress.medium.emailAddress"
        required
      )
      .help-block(
        ng-messages="form.emailAddress.$error"
        ng-show="vm.hasFieldError(form.emailAddress)"
      )
        span(ng-message="required") 必填字段
        span(ng-message="email") 字段必须是合法的邮箱地址
        //This field must be a valid email.