form(name="step.form", novalidate)
  .form-group(ng-class="{ 'has-error': createForm.hasError(step.form.name) }")
    label 名称
    //gqc Enter a name
    input.form-control(
      type="text"
      name="name"
      ng-model="createVM.data.name"
      required
      ng-maxlength="30"
      field-unique="Category"
    )
    .help-block(
      ng-messages="step.form.name.$error"
      ng-show="createForm.hasError(step.form.name)"
    )
      span(ng-message="required") 必填字段
      span(ng-message="maxlength") 字段不能超过 30 个字符.
      span(ng-message="unique") 名称已经被占用.
  .form-group
    label
      span 描述
      //gqc Enter a description
      small.text-muted (可选)
    textarea.form-control(rows="3", name="description", ng-model="createVM.data.description")
  .item-toggle
    label.toggle Choose a parent category
      .track
        input(
          type="checkbox"
          ng-model="createVM.data.isRoot"
          ng-true-value="false"
          ng-false-value="true"
          ng-change="createVM.refresh()"
        )
        i.fa.fa-2x
  .form-group(ng-if="!createVM.data.isRoot", ng-controller="CategorySearchCtrl as categorySearchVM")
    .alert.alert-info(ng-if="!categorySearchVM.list.length") No categories found.
    .table-responsive(ng-if="categorySearchVM.list.length")
      input(type="hidden", ng-model="createVM.data.parentId", required)
      table.table.table-bordered.table-hover.table-selectable
        thead
          tr
            th 名称
            th 更新时间
        tbody
          tr(ng-repeat="category in categorySearchVM.list | orderByParentId", ng-class="{ active: createVM.category.id == category.id }", ng-click="createVM.setCategory(category)")
            td
              span(ng-repeat="parentCategory in category.getBreadcrumb()") {{ parentCategory.name }} / 
              strong {{ category.name }}
            td
              time(am-time-ago="category.lastUpdate")
  .form-group.text-right
    a.btn.btn-default.z-depth-1(ng-click="createForm.nextStep($index + 1, createVM.stepList[$index + 1])", ng-disabled="!step.form.$valid")
      span.item-text 下一步