form(name="step.form", novalidate)
  .h5.text-dark-secondary
    strong General
  .row
    .col-sm-8
      .form-group
        label 名称
        input.form-control(
          type="text"
          name="name"
          ng-model="createVM.data.name"
          required
          readonly
        )
    .col-sm-4
      .form-group
        label 版本
        //gqc
        input.form-control(
          type="text"
          name="version"
          ng-model="createVM.data.version"
          required
          readonly
        )
  .form-group
    label 状态
    .status-group
      .status-item(ng-repeat="status in FILTER_STATUS", class="status-{{ status.value | lowercase }}", ng-class="{ active: createVM.data.lifecycleStatus == status.value }")
        span.item-icon
        span.item-text {{ status.value }}
  .form-group
    label 描述
    textarea.form-control(
      rows="3"
      name="description"
      ng-model="createVM.data.description"
      readonly
    )
  .form-group(ng-if="createVM.places.length")
    label 位置
    .h4
      .label.label-default.inline-block(ng-repeat="name in createVM.places")
        span.item-text {{ name }}

  div(ng-if="!createVM.data.isBundle")
    .h5.text-dark-secondary
      strong 产品规格
    .form-group
      input(type="hidden", ng-model="createVM.product.id", required)
      .table-responsive
        table.table.table-bordered
          thead
            tr
              th 状态
              th 名称
              th 类型
              th 更新时间
          tbody
            tr
              td
                .status-item(class="status-{{ createVM.product.lifecycleStatus | lowercase }}")
                  span.item-icon
                  span.item-text {{ createVM.product.lifecycleStatus }}
              th {{ createVM.product.name }}
              td
                span.label(ng-class="createVM.product.isBundle ? 'label-bundle' : 'label-single'")
                  | {{ createVM.product.isBundle ? 'Bundle' : 'Single' }}
              td
                time(am-time-ago="createVM.product.lastUpdate")

  .form-group(ng-show="createVM.data.isBundle")
    .h5.text-dark-secondary
      strong 产品组合
    .table-responsive
      table.table.table-bordered
        thead
          tr
            th 状态
            th 名称
            th 类型
            th 更新时间
        tbody
          tr(ng-repeat="offering in createVM.data.bundledProductOffering")
            td
              .status-item(class="status-{{ offering.lifecycleStatus | lowercase }}")
                span.item-icon
                span.item-text {{ offering.lifecycleStatus }}
            th {{ offering.name }}
            td
              span.label(ng-class="offering.isBundle ? 'label-bundle' : 'label-single'")
                | {{ offering.isBundle ? 'Bundle' : 'Single' }}
            td
              time(am-time-ago="offering.lastUpdate")

  .h5.text-dark-secondary
    strong 产品目录
  .form-group
    input(type="hidden", ng-model="createVM.catalogue.id", required)
    .table-responsive
      table.table.table-bordered
        thead
          tr
            th 状态
            th 名称
            th 角色
            th 更新时间
        tbody
          tr
            td
              .status-item(class="status-{{ createVM.catalogue.lifecycleStatus | lowercase }}")
                span.item-icon
                span.item-text {{ createVM.catalogue.lifecycleStatus }}
            th {{ createVM.catalogue.name }}
            td {{ createVM.catalogue.getRoleOf(user.id) }}
            td
              time(am-time-ago="createVM.catalogue.lastUpdate")
  .form-group(ng-show="createVM.hasCategories()")
    .h5.text-dark-secondary
      strong 产品类型
    .table-responsive
      table.table.table-bordered
        thead
          tr
            th 名称
            th 更新时间
        tbody
          tr(ng-repeat="(key, category) in createVM.categories")
            td
              span(ng-repeat="parentCategory in category.getBreadcrumb()") {{ parentCategory.name }} / 
              strong {{ category.name }}
            td
              time(am-time-ago="category.lastUpdate")
  .row(ng-if="createVM.data.productOfferingPrice.length")
    .col-sm-12
      .h5.text-dark-secondary
        strong 价格计划
      .table-responsive
      table.table.table-bordered
        thead
          tr
            th #
            th 名称
            th 描述
            th 价格
        tbody
          tr(ng-repeat="priceplan in createVM.data.productOfferingPrice")
            th {{ $index + 1 }}
            th {{ priceplan.name }}
            th {{ priceplan.description }}
            td {{ priceplan.toString() }}

  .form-group
    input(type="hidden", ng-model="createVM.data.serviceCandidate.id", required)
    .h5.text-dark-secondary
      strong  利润分配模型
    .table-responsive
      table.table.table-bordered
        thead
          tr
            th 分成类型
            th 平台占比
            th 供应商占比
            th 其他干系人占比
        tbody
          tr
            td
              span {{ createVM.getSharingModel().productClass }}
            td
              span {{ createVM.getSharingModel().aggregatorValue }}
            td
              span {{ createVM.getSharingModel().ownerValue }}
            td
              span {{ createVM.getSharingModel().stakeholders.length }}
  .form-group.text-right
    a.btn.btn-warning(
      ng-click="createVM.create()"
      ng-disabled="!step.form.$valid || createVM.create.status === createVM.STATUS.PENDING"
    )
      span.item-icon.fa.fa-spin.fa-spinner(ng-if="createVM.create.status === createVM.STATUS.PENDING")
      span.item-text 创建